.the-table{
	background-color: green;
	border: 5px solid #663300;
	border-radius: 30px;
	margin-top: 30px;
	padding: 30px 0px;
}

.card{
	height: 110px;
	background-color: green;
	background-image: url("../images/cardback.jpg");
	color: black;
	margin: 10px;
	width: 11%;
	padding: 0;
	border-radius: 10px;
	padding-top: 3px;
}

.dealer-hand-wrapper, .player-hand-wrapper {
	color: white;
	font-size: 18px;
	text-align: center;
}

.dealer-total-number, .player-total-number{
	display: block;
	text-align: center;
}

.row-player-actions{
	margin-top: 20px;
}

.row-player-actions button{
	width: 100%;
	background: black;
	color: white;
	border-radius: 3px;
}
img{
	width: 100%;
	border-radius: 5px;
}