.the-table{
	background: rgba(36, 98, 43, 0.75);
	border: 5px solid #663300;
	border-radius: 30px;
	margin-top: 40px;
	margin-bottom: 40px;
	padding: 30px 0px;

}

.card{
	height: 110px;
	/* background-color: green; */
	background-image: url("../images/cardback.jpg");
	margin: 10px;
	width: 11%;
	padding: 0;
	border-radius: 10px;
	transition:all .5s ease;
	transform-style:preserve-3d;
	
}
.container{
	margin-top: 20px;
}

/* .card-three{
	transition: all 1s ease;
} */

.card-active{
	transform: rotateY(180deg);
}

.dealer-hand-wrapper, .player-hand-wrapper {
	font-size: 18px;
	text-align: center;
}

.dealer-total-number, .player-total-number{
	display: block;
	text-align: center;
}

.row-player-actions{
	margin-top: 20px;
	text-align: center;
}

.row-player-actions button{
	text-align: center;
	background: ;
	color: white;
	border-radius: 3px;
}
.wager-area{
	text-align: center;
}
img{
	margin: auto;
	display: block;
	border-radius: 5px;
	height: 110px;
}
body{
	background-image: url('../images/lasvegassign2.jpg');
	background-position: 0px -300px;
	color: white;
}














